@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {

    opacity: 1;
    transform: none;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes fadeIn03 {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn07 {
  from {
    opacity: 0.7;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOutAccount {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    display: none;
    height: 0;
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeInUpDoctors {
  from {
    transform: translate3d(0, 70%, 0);
  }

  to {
    transform: none;
  }
}

@keyframes fadeOutDownDoctors {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

.flipInY {
  animation-fill-mode: both;
  animation-name: flipInY;
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
}

@keyframes flipInX {
  from {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
  }

  40% {
    animation-timing-function: ease-in;
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@keyframes fadeInBurger {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutBurger {
  from {
    opacity: 1;
    transform: none;
  }

  to {
    opacity: 1;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeInBurgerBtn {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: none;
  }
}

